<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
            	<div class="row">
            		<div class="col-md-12">
            			<h2>
            				<%= t('aboutus.title') %>:
            			</h2><br><br>
            			<div class="row">
            				<div class="col-md-12">
            					<p>
            						<%= t('aboutus.description') %>
            					</p>
            				</div>
            				<br><br><br><br><br><br>
            				<div class="col-md-6">
            				</div>
            			</div>
            			<div class="row">
            				<div class="col-md-4">
            					<div class="thumbnail">
            						<img alt="Bootstrap Thumbnail First" src="http://labxfoundation.org/wp-content/uploads/2014/03/mentorship-600x200.jpg">
            						<div class="caption">
            							<h3>
            								<%= t('aboutus.contactlbl') %>
            							</h3>
            							<p>
            								<%= t('aboutus.contactp') %>
            							</p>
            					    </div>
            					</div>
            				</div>
            				<div class="col-md-4">
            					<div class="thumbnail">
            						<img alt="Bootstrap Thumbnail Second" src="http://intelligentwealth.com/wp-content/uploads/2013/02/IWC_600x200_stock-investing_crisis-opportunity-stock-market.png">
            						<div class="caption">
            							<h3>
            								<%= t('aboutus.takeactionlbl') %>
            							</h3>
            							<p>
            								<%= t('aboutus.takeactionp') %>
            							</p>
            						</div>
            					</div>
            				</div>
            				<div class="col-md-4">
            					<div class="thumbnail">
            						<img alt="Bootstrap Thumbnail Third" src="http://intelligentwealthreport.com/wp-content/uploads/2013/01/IWReport_Blog_header_600x200_stock_investing.jpg">
            						<div class="caption">
            							<h3>
            								<%= t('aboutus.makemotherlandlbl') %>
            							</h3>
            							<p>
            								<%= t('aboutus.makemotherlandp') %>
            							</p>
            
            						</div>
            					</div>
            				</div>
            			</div>
            			
            		</div>
            	</div>
                </div>
        </div>
    </div>
</div>
                
