<div class="container">

        <div class="row">
            
            <%= render 'searchForm' %>
            
            <br><br>
            
            <div class="col-md-12">
                <div class="row">
                    <% if @stores.present? %>
                      <% @stores.each do |store| %>
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                            <% if store.image.presence %>
                                <img class="img-responsive" src="<%= store.image.url %>" alt="">
                            <% else %>
                                <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                            <% end %>
                                <div class="caption">
                                        <h4><%= link_to store.name, store%></h4>
                                        <p><%= store.description %></p>
                                        <div class="ratings">
                                            <p class="pull-right"><%= "#{store.reviews.length}  "%><%= t('reviews.review') %></p>
                                        </div>
                                </div>
                                
                            </div>
                        </div>
                    <% end %>
                    <% else %>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <p><%= t('searchForm.noStores') %>  <%= params[:search] %>.</p>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
