<div class="col-lg-6">
        <%= form_tag(search_tag_path, :method => "get", class:'input-group') do %>
        <%= text_field_tag :search_tag, params[:search_tag], class: 'form-control', placeholder: t('searchForm.question1') %>
        <span class="input-group-btn">
            <%= button_tag t('searchForm.go'), class: 'btn btn-default' %>
        </span>
        <% end %>    
</div><!-- col-->

<div class="col-lg-6">
        <%= form_tag(search_name_path, :method => "get", class:'input-group') do %>
        <%= text_field_tag :search_name, params[:search_name], class: 'form-control', placeholder: t('searchForm.question2') %>
        <span class="input-group-btn">
            <%= button_tag t('searchForm.go'), class: 'btn btn-default' %>
        </span>
        <% end %>    
</div><!-- col-->



<!-- descuentos todavía no... 
<div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Know about a disccount?">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go</button>
      </span>
    </div>
</div><!-- col -->