<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead"><%= @store.name%></p>
            <div class="list-group">
                <a href="#" class="list-group-item active">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>
            <div>
              <div id="map" style='width: 250px; height: 250px;'></div>
              <script>
                  handler = Gmaps.build('Google');
                    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
                      markers = handler.addMarkers(<%=raw @hash.to_json %>);
                      handler.bounds.extendWith(markers);
                      handler.fitMapToBounds();
                    });
              </script>
            </div>
        </div>

        <div class="col-md-9">

            <div class="thumbnail">
                <% if @store.image.presence %>
                    
                    <img class="img-responsive" src="<%= @store.image.url %>" alt="">
                <% else %>
                    <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                <% end %>
                
                <div class="caption-full">
                    <h4><a href="#"><%= @store.name%></a>
                    </h4>
                    <p><%= @store.description %></p>
                </div>
                
                <div class="ratings">
                    <!--<p class="pull-right">< "#{@reviews.length} reviews" %></p>!-->
                   <!-- <div class="star-rating" data-score= < @avg %>>Promedio: </div>-->
                    <div class="star-rating" data-score= <%= @avg %>> <%= t('store.avg') %></div>
                </div>
            </div>
            <div class="well">

                <div class="text-right">
                    <!--- link_to "Leave a Review", new_store_review_path(@store), :class => "btn btn-success" %>-->
                    
                    <%= link_to t('store.leave_rv'), new_store_review_path(@store), :class => "btn btn-success" %>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <h4><%= t('store.review') %></h4>
                        <% if @reviews.blank? %>
                            <p><%= t('store.noReviews') %></p>
                        <% else %>
                            <% @reviews.each do |review| %>
                                <div class="star-rating" data-score= <%= review.ratings %>>
                                    <strong><%= review.user.email %></strong>
                                </div>
                                <span class="pull-right"><%= review.created_at.strftime("%d %b %y at %I:%M%p") %></span>
                                <p><%= review.content %></p>
                            <%end %>
                        <% end %>
                    </div>
                </div>
                
                <script>
                    $(' .star-rating').raty({
                        path: '/assets/',
                        readOnly: true,
                        score: function() {
                            return $(this).attr('data-score');
                        }
                    });
                    
                </script>

            </div>

        </div>

    </div>

</div>

