<div class="container">

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1 > 
                            <div class="row">
                                <div class="col-sm-10">
                                    <%= t('mystores.stores') %>
                                </div>
                            <div class="col-sm-2">
                                <%= link_to t('mystores.new'), new_store_path, :class => "btn btn-default btn-sm"%>
                            </div>
                            </div>
                        </h1>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        <% current_user.stores.each do |element| %>
            <div class="row">
                <div class="col-md-6">
                    <a href="#">
                        <% if element.image.presence %>
                            <img class="img-responsive" src="<%= element.image.url %>" alt="">
                        <% else %>
                            <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <% end %>
                    </a>
                </div>
                <div class="col-md-5">
                
                    <h3><%= element.name %> <% if element.approved == false %> <span class="label label-warning"> <%= t('mystores.approval') %></span> <% end %></h3>
                    <hr>
                    <p><%= element.description %></p>
                    <div style="display:inline-block;">
                        <%= link_to t('mystores.view'), element, :class => "btn btn-default btn-sm"%>
                        <%= link_to t('mystores.edit'), edit_store_path(element), :class => "btn btn-info btn-sm"%>
                        <%= link_to t('mystores.delete'), store_path(element), :class => "btn btn-danger btn-sm", method: :delete, data: {confirm: "Are you sure?"}%>
                    </div>
                </div>
            </div>
            <hr>

        <% end %>
        </div>
        </div>
</div>

