<div class="container">

    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <h2><%= t('header.reviews') %></h2>
                <% if @review.blank? %>
                    <p><%= t('store.noReviews') %></p>
                <% else %>
                    <% @review.each do |review| %>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title"><%= link_to review.store.name, review.store%></h3>
                          </div>
                          <div class="panel-body">
                            <div class="star-rating" data-score= <%= review.ratings %>></div>
                            <p><%= review.content %></p>
                          </div>
                         <span class="pull-right">
                             <%= link_to t('forms.buttons.edit'), edit_store_review_path(review.store, review)%> |
                             <%= link_to t('forms.buttons.delete'), user_review_path(review.store, review), method: :delete, 
                             data: { confirm:  t('reviews.confirm')} %>
                         </span>
                        </div>
                        
                    <% end %>
                <% end %>
            </div>
        </div>
        
        <script>
            $(' .star-rating').raty({
                path: '/assets/',
                readOnly: true,
                score: function() {
                    return $(this).attr('data-score');
                }
            });
            
        </script>
    </div>
    
</div>