<p>Hello <%= @resource.email %>!</p>

<p><%= t('profile.passMail.0') %></p>

<p><%= link_to t('profile.changePass'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('profile.passMail.1')%></p>
<p><%= t('profile.passMail.2')%></p>
