<div class="container">

  <div class="row">

      <div class="col-md-8">
        
        <h2><%= t('profile.edit') %></h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :class => "form-control", :readonly => true%>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label t('profile.password') %> <i>(<%= t('profile.passwordMsg') %>)</i><br />
          <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
        </div>

        <div class="field">
          <%= f.label t('profile.passConfirmation') %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
        </div>

        <div class="field">
          <%= f.label t('profile.actualPass') %> <i>(<%=t('profile.actualPassMsg')%>)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", :class => "form-control"%>
        </div>

        <div class="actions" style="margin-top:20px;">
          <%= f.submit t('forms.buttons.submit'), :class => "btn btn-default"%>
        </div>
      <% end %>
      
    </div>
    
    <div class="col-md-4">
      <h3><%=t('profile.cancel')%></h3>
      <p><%=t('profile.cancelMsg')%> <%= button_to t('profile.cancel'), registration_path(resource_name), {class:"btn btn-default", data: { confirm: I18n.t('forms.messages.confirm') }, method: :delete }%></p>
      <%= link_to t('reviews.back'), :back %>
    </div>  
  </div>
</div>
